<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.MindWarrior">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AchievementsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".BoardWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DifficultyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>
